@keyframes slideBackground {
    0% {
        background-image: url('../../../public/banner1.png');
    }

    33% {
        background-image: url('../../../public/banner2.png');
    }

    66% {
        background-image: url('../../../public/banner3.png');
    }

    100% {
        background-image: url('../../../public/banner4.png');
    }
}

.background- {
    padding-bottom: 20%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    animation: slideBackground 8s infinite;
}

.chat-page {
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp38040.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


.chat-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 91.5vh;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-container>div {
    flex: 1;
    margin: 0 10px;
}

.chat-container>div:first-child {
    margin-left: 0;
}

.chat-container>div:last-child {
    margin-right: 0;
}