.main-header {

    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 1000;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .namewed {
        font-family: 'Playfair Display', serif; // Use a beautiful serif font
        font-size: 2rem; // Increase the font size
        font-style: inherit;
        font-weight: bold; // Make the text bold
        color: #2c3e50; // Dark blue color
        text-transform: uppercase; // Transform text to uppercase
        letter-spacing: 1px; // Add some letter spacing
        margin-right: 2rem; // Add some margin to the right
    }

    .logo {
        img {
            height: 80px;
            /* Adjust the height as needed */
        }
    }

    nav {
        display: flex;
        gap: 30px;

        a {
            color: #000000;
            font-size: 1.2rem;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #f39c12;
            }

            &.active {
                color: #3498db;
                font-weight: bold;
                border-bottom: 2px solid #3498db;
            }
        }
    }
}