.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo {
        img {
            height: 80px;
            /* Adjust the height as needed */
        }
    }

    nav {
        display: flex;
        gap: 30px;

        a,
        button {
            color: #000000;
            font-size: 1.2rem;
            text-decoration: none;
            transition: color 0.3s ease, background-color 0.3s ease;
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px 15px;
            border-radius: 5px;

            &:hover {
                color: #ffffff;
                background-color: #12a1f3;
            }

            &.active {
                color: #ffffff;
                background-color: #3498db;
                font-weight: bold;
                border-bottom: none;
            }
        }
    }
}